*,
*::before,
*::after {
  box-sizing: border-box;
}

.container_sm {
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

section.joke {
  margin: 40px 0;
}

section.joke .output {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-family: "Roboto", "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
}

section.joke .output::before {
  content: "“";
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  top: -60px;
  left: -10px;
}
section.joke .output::after {
  content: "„";
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  bottom: -40px;
  right: -10px;
}

.card {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid;
  transition: all 0.4s;
}
.card:not(.active) {
  padding: 100px 40px;
}
.card:not(.active) img {
  display: none;
}

.card.active {
  padding: 100px 40px 200px;
}
.card.active img {
  display: block;
}

.card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.card img {
  width: 40%;
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

[data-action] {
  cursor: pointer;
}

.button {
  border: none;
  padding: 10px 20px;
}

.button_pretty {
  border: 1px solid #555;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.4s;
}

.button_pretty:hover {
  border-color: transparent;
  box-shadow: 0 0 5px #555;
  transition: all 0.2s;
}
